In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [3]:
df = pd.read_csv('/Users/Owner/Desktop/train.csv')

In [4]:
df.head()

  age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
0  58;"management";"married";"tertiary";"no";2143...
1  44;"technician";"single";"secondary";"no";29;"...
2  33;"entrepreneur";"married";"secondary";"no";2...
3  47;"blue-collar";"married";"unknown";"no";1506...
4  33;"unknown";"single";"unknown";"no";1;"no";"n...

In [6]:
df.describe()

       age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
count                                               45211
unique                                              45211
top     37;"entrepreneur";"married";"secondary";"no";2...
freq                                                    1

In [10]:
# Step 4: Checking for missing values
missing_values = df.isnull().sum()
print("Missing values in each column:\n", missing_values)

Missing values in each column:
 age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"    0
dtype: int64

In [11]:
# Step 5: Dropping any columns with too many missing values (example threshold: >50%)
df_cleaned = df.dropna(thresh=len(df) * 0.5, axis=1)

In [ ]:
# Step 6: Filling missing values for other columns (e.g., with the mean for numerical data)
df_cleaned = df_cleaned.fillna(df_cleaned.mean())

In [ ]:

# Step 7: Checking summary statistics to understand data distribution
summary_stats = df_cleaned.describe()
print("Summary statistics:\n", summary_stats)