In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.utils import resample
from sklearn.metrics import accuracy_score

In [4]:
# Load the dataset from Downloads
train = pd.read_csv('/Users/Owner/Downloads/train.csv')  # Replace 'your-username' with your Mac username
test = pd.read_csv('/Users/Owner/Downloads/test.csv')  # Replace 'your-username' with your Mac username
gender = pd.read_csv('/Users/Owner/Downloads/gender_submission.csv')  # Replace 'your-username' with your Mac username

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [6]:
gender.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [7]:

# Preprocessing: filling missing values and converting categorical variables
train['Age'].fillna(train['Age'].median(), inplace=True)
train['Embarked'].fillna(train['Embarked'].mode()[0], inplace=True)
train['Fare'].fillna(train['Fare'].median(), inplace=True)
train = pd.get_dummies(train, columns=['Sex', 'Embarked'], drop_first=True)

# Define features and target variable
X = train[['Pclass', 'Age', 'Fare', 'Sex_male', 'Embarked_Q', 'Embarked_S']]
y = train['Survived']

# Parameters
n_samples = 100  # Number of bootstrap samples
n_trees = 10  # Number of trees in the ensemble

# Placeholder for aggregated predictions
predictions = np.zeros(len(y))

# Bootstrap sampling and model training
for i in range(n_trees):
    # Create a bootstrap sample
    X_sample, y_sample = resample(X, y, replace=True, n_samples=n_samples, random_state=i)
    
    # Train a decision tree model
    model = DecisionTreeClassifier(random_state=i)
    model.fit(X_sample, y_sample)
    
    # Predict on the entire dataset
    preds = model.predict(X)
    
    # Aggregate predictions (voting)
    predictions += preds

# Final prediction: average predictions and threshold at 0.5 for binary classification
final_predictions = (predictions / n_trees) > 0.5

# Evaluate model
accuracy = accuracy_score(y, final_predictions)
print(f'Custom Ensemble Model Accuracy: {accuracy}')

/var/folders/j6/k6gy0m_x02b05c849w1998_c0000gn/T/ipykernel_18938/1185544818.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train['Age'].fillna(train['Age'].median(), inplace=True)
/var/folders/j6/k6gy0m_x02b05c849w1998_c0000gn/T/ipykernel_18938/1185544818.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train['Embarked'].fillna(train['Embarked'].mode()[0], inplace=True)
/var/folders/j6/k6gy0m_x02b05c849w1998_c0000gn/T/ipykernel_18938/1185544818.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train['Fare'].fillna(train['Fare'].median(), inplace=True)

Custom Ensemble Model Accuracy: 0.8226711560044894

In [12]:
predictions

array([ 0., 10.,  4., 10.,  1.,  1.,  1.,  7.,  5., 10., 10., 10.,  3.,
        0.,  8.,  9.,  6.,  2.,  9.,  7.,  1.,  2.,  7.,  3.,  7.,  4.,
        1.,  5.,  9.,  1.,  6., 10.,  7.,  1.,  5.,  3.,  2.,  2.,  8.,
        7.,  2.,  8.,  0.,  9.,  9.,  1.,  3.,  7.,  3.,  8.,  4.,  3.,
       10.,  8.,  3.,  3.,  9.,  1.,  9.,  2.,  2., 10.,  4.,  5.,  6.,
        4.,  9.,  2.,  7.,  1.,  2.,  3.,  2.,  3.,  4.,  0.,  1.,  1.,
        8.,  5.,  2.,  3.,  7.,  1.,  9.,  9.,  1.,  1.,  9.,  1.,  1.,
        2.,  4.,  2.,  0.,  1.,  1.,  4.,  7.,  1.,  5.,  1.,  5.,  2.,
        2.,  1.,  7.,  2.,  0.,  5.,  2.,  8.,  1.,  3.,  7.,  3.,  2.,
        1.,  5.,  1.,  2.,  1.,  3.,  9.,  3.,  2.,  1.,  1.,  7.,  1.,
        1.,  1.,  3.,  8.,  3.,  4.,  9.,  3.,  1.,  6.,  8.,  6.,  8.,
        2.,  0.,  1.,  3.,  3.,  1.,  2.,  1.,  9.,  0.,  2.,  0.,  3.,
        8.,  1.,  2.,  2.,  1., 10.,  0.,  1.,  7.,  5.,  9.,  3.,  5.,
        3.,  1.,  6.,  7.,  3.,  1.,  1.,  2.,  9.,  3.,  0.,  3.,  3.,
        4.,  9.,  8.,  1.,  8.,  5.,  4.,  0.,  9.,  3.,  8.,  8., 10.,
       10.,  1.,  0.,  7.,  8.,  3.,  2.,  0.,  1.,  2.,  6.,  3.,  2.,
        8.,  3.,  0.,  8.,  0.,  3.,  1., 10.,  5.,  3., 10.,  3.,  2.,
        4.,  0.,  1.,  6.,  1.,  1.,  1.,  3.,  6., 10.,  1.,  0.,  4.,
        1.,  4.,  1., 10.,  1.,  2.,  6.,  8.,  2.,  0.,  2.,  4.,  5.,
        8.,  3.,  1.,  0.,  4.,  3.,  2.,  7.,  8., 10., 10., 10.,  8.,
        1.,  6.,  4.,  2.,  7.,  1.,  1.,  0.,  9., 10.,  2.,  1., 10.,
        4.,  7., 10.,  4.,  0.,  6.,  8.,  2.,  1.,  0.,  2.,  5.,  3.,
        3.,  1.,  2.,  8.,  9., 10.,  4.,  4.,  1.,  6.,  2.,  7.,  2.,
        9.,  7.,  2.,  0.,  9.,  1., 10., 10., 10.,  3., 10., 10., 10.,
        8.,  1.,  1.,  5.,  8.,  0.,  9., 10.,  0.,  1.,  9.,  8.,  2.,
       10.,  0.,  9.,  8., 10.,  5.,  4.,  6.,  2.,  9.,  1.,  3., 10.,
        0.,  2.,  8.,  9.,  2.,  3.,  2.,  8.,  8.,  9.,  7.,  0.,  2.,
        2.,  2.,  2.,  1.,  3.,  9.,  8.,  9.,  9.,  2.,  4.,  4.,  0.,
        3.,  0., 10.,  7.,  7., 10.,  3.,  0.,  2.,  6.,  7., 10.,  7.,
        4.,  3.,  1., 10.,  9.,  3., 10.,  1.,  3.,  7.,  9.,  0., 10.,
        6.,  3.,  3., 10.,  8.,  3.,  5.,  1.,  1.,  8.,  2.,  0.,  2.,
        2.,  5.,  1.,  0.,  8.,  1.,  6.,  1.,  1.,  9.,  0.,  1.,  3.,
        9.,  9.,  3.,  6.,  0.,  2.,  1.,  3.,  2.,  0.,  8.,  8.,  1.,
        1.,  6.,  9.,  9.,  0.,  2.,  9.,  3., 10.,  3.,  3., 10.,  2.,
        0.,  8.,  1.,  8., 10.,  6.,  9.,  1.,  2.,  2.,  6.,  4.,  1.,
        1.,  3.,  9.,  5.,  1.,  6.,  1.,  2.,  2.,  1.,  0.,  0.,  4.,
        0.,  8.,  0.,  1.,  9.,  8.,  1.,  2.,  1.,  0.,  0.,  7.,  3.,
        0.,  0.,  3.,  5.,  6., 10.,  3.,  1.,  5.,  2.,  0.,  1.,  1.,
        2.,  3., 10.,  2.,  8.,  3.,  1.,  8.,  7.,  2.,  9.,  8.,  8.,
        6.,  2.,  2.,  3.,  1.,  6., 10.,  0.,  2.,  9.,  2.,  9.,  1.,
       10.,  1.,  1., 10.,  2.,  3.,  5.,  4.,  2.,  1.,  7.,  2.,  2.,
        7.,  4., 10.,  5., 10.,  2., 10., 10.,  2.,  2.,  2.,  4.,  2.,
        8.,  3.,  3.,  5.,  9.,  3.,  2.,  2.,  6.,  3., 10.,  4., 10.,
        9.,  1.,  0.,  2.,  1.,  3.,  2.,  1.,  7.,  2.,  1.,  1., 10.,
        6.,  7.,  2.,  3.,  9., 10.,  6.,  3.,  8., 10.,  1.,  3.,  2.,
        9.,  2.,  4.,  1.,  1.,  0.,  9.,  0.,  7.,  2.,  2.,  8.,  0.,
        1.,  4.,  9.,  1.,  1.,  0.,  6.,  3.,  1.,  4., 10.,  9.,  3.,
        0.,  8.,  1.,  1.,  9.,  2.,  8.,  9.,  2.,  4.,  4.,  5.,  1.,
        2.,  1.,  0.,  9.,  0.,  0.,  2.,  0.,  2.,  2.,  2.,  8.,  3.,
        2.,  3.,  2.,  2., 10.,  1.,  3.,  8.,  4.,  1.,  1.,  0.,  7.,
        1.,  7.,  2.,  9.,  8.,  2.,  1.,  8.,  3.,  3.,  4.,  2.,  5.,
        0.,  3.,  3.,  3.,  2.,  0.,  9., 10.,  2.,  1.,  3.,  0.,  1.,
        1.,  4.,  4.,  5.,  7.,  5.,  3.,  1.,  0.,  1.,  1.,  1.,  3.,
        9.,  4.,  9.,  3.,  1.,  3.,  1.,  0.,  8.,  5.,  0., 10.,  6.,
        7.,  0.,  0.,  2.,  7.,  7.,  9.,  4., 10.,  6.,  2.,  3.,  1.,
        0., 10.,  8.,  3.,  1.,  9.,  0.,  2.,  1.,  3.,  3.,  8.,  8.,
        2.,  6., 10.,  5.,  0.,  3.,  3.,  2.,  3.,  5.,  1.,  1.,  3.,
        6., 10.,  2.,  3.,  2.,  2.,  9.,  3.,  3.,  8.,  6.,  3.,  1.,
       10.,  9.,  3.,  0.,  1., 10.,  2.,  0.,  3., 10.,  1.,  9.,  3.,
        7.,  2.,  2.,  1.,  0.,  6.,  1.,  8.,  1.,  1.,  9.,  0., 10.,
        8.,  9.,  3.,  2.,  0.,  0.,  8.,  6.,  8.,  5.,  1.,  4.,  3.,
        2.,  0.,  2.,  9.,  4.,  2.,  6.,  2.,  9.,  8.,  8.,  2.,  1.,
        2.,  7.,  2., 10.,  0.,  2.,  2.,  2.,  1.,  2.,  6.,  4.,  0.,
        4.,  9.,  2.,  2.,  5.,  6.,  2.,  3.,  9.,  1., 10.,  8.,  9.,
        2.,  1.,  1., 10.,  2.,  1.,  4.,  4.,  3.,  1.,  9.,  1.,  1.,
        0.,  2.,  1.,  0., 10.,  5.,  0.,  9.,  9.,  9.,  3.,  9.,  5.,
        8.,  2.,  2.,  1.,  9.,  3.,  3.,  8.,  8.,  1.,  3.,  5.,  0.,
       10.,  2.,  0.,  8.,  8.,  2.,  1.,  1., 10.,  8.,  1.,  3.,  2.,
        0.,  3.,  4.,  8.,  6.,  4.,  3.])

In [8]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

# Random Forest Model
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(X, y)
rf_preds = rf_model.predict(X)
rf_accuracy = accuracy_score(y, rf_preds)
print(f'Random Forest Accuracy: {rf_accuracy}')

# Gradient Boosting Model
gb_model = GradientBoostingClassifier(n_estimators=100, random_state=42)
gb_model.fit(X, y)
gb_preds = gb_model.predict(X)
gb_accuracy = accuracy_score(y, gb_preds)
print(f'Gradient Boosting Accuracy: {gb_accuracy}')

Random Forest Accuracy: 0.9775533108866442
Gradient Boosting Accuracy: 0.8900112233445566

In [9]:
# Single Decision Tree Model
single_tree = DecisionTreeClassifier(random_state=42)
single_tree.fit(X, y)
single_preds = single_tree.predict(X)
single_accuracy = accuracy_score(y, single_preds)
print(f'Single Decision Tree Accuracy: {single_accuracy}')

Single Decision Tree Accuracy: 0.9775533108866442

In [10]:
# Time the custom ensemble model
def custom_ensemble():
    predictions = np.zeros(len(y))
    for i in range(n_trees):
        X_sample, y_sample = resample(X, y, replace=True, n_samples=n_samples, random_state=i)
        model = DecisionTreeClassifier(random_state=i)
        model.fit(X_sample, y_sample)
        preds = model.predict(X)
        predictions += preds
    final_predictions = (predictions / n_trees) > 0.5
    return accuracy_score(y, final_predictions)

%timeit custom_ensemble()

# Time the Random Forest model
%timeit rf_model.fit(X, y)

# Time the Gradient Boosting model
%timeit gb_model.fit(X, y)

# Time the single Decision Tree model
%timeit single_tree.fit(X, y)

76.9 ms ± 5.43 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)
383 ms ± 132 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
354 ms ± 93.7 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
5.73 ms ± 527 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [13]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
import seaborn as sns
from scipy.stats import mode
import time

In [14]:
data = sns.load_dataset('titanic')

In [15]:
df = data.drop(['deck','class','who','adult_male','embark_town','alive','alone'],axis=1)

In [16]:
df['age'] = df['age'].fillna(df.groupby('sex')['age'].transform('mean'))

In [17]:
df['fam'] = df['parch'] + df['sibsp']

In [18]:
df = pd.get_dummies(df, columns=['sex','embarked','pclass'], dtype=int)

In [19]:
y = df['survived']
X = df.drop('survived', axis=1)

In [20]:
all_columns = df.columns.to_list()
random_columns = [np.random.choice(all_columns, 3, replace=True).tolist() for i in range (10)]

In [21]:
random_columns

[['pclass_1', 'fare', 'embarked_Q'],
 ['pclass_1', 'pclass_2', 'embarked_C'],
 ['parch', 'pclass_1', 'sex_female'],
 ['fam', 'parch', 'age'],
 ['sex_female', 'pclass_2', 'fam'],
 ['embarked_S', 'pclass_3', 'parch'],
 ['sex_male', 'pclass_2', 'pclass_3'],
 ['pclass_2', 'fam', 'pclass_1'],
 ['survived', 'embarked_Q', 'parch'],
 ['embarked_C', 'pclass_3', 'age']]

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [23]:
def build_decision_trees(X_train, y_train, num_models=10, num_columns=3):
    all_columns = X_train.columns.to_list()
    models = []
    for i in range(num_models):
        selected_columns = np.random.choice(all_columns, num_columns, replace=True).tolist()
        X_train_subset = X_train[selected_columns]
        tree = DecisionTreeClassifier(random_state=42)
        tree.fit(X_train_subset, y_train)
        models.append((tree, selected_columns))
    return models

In [24]:
models = build_decision_trees(X_train, y_train, num_models=10, num_columns=3)

In [25]:
models

[(DecisionTreeClassifier(random_state=42),
  ['sex_male', 'embarked_S', 'sibsp']),
 (DecisionTreeClassifier(random_state=42), ['pclass_3', 'sibsp', 'sex_male']),
 (DecisionTreeClassifier(random_state=42), ['fare', 'pclass_3', 'parch']),
 (DecisionTreeClassifier(random_state=42), ['parch', 'sex_female', 'fam']),
 (DecisionTreeClassifier(random_state=42),
  ['fam', 'embarked_C', 'sex_female']),
 (DecisionTreeClassifier(random_state=42),
  ['parch', 'sex_female', 'embarked_S']),
 (DecisionTreeClassifier(random_state=42), ['fam', 'embarked_Q', 'pclass_3']),
 (DecisionTreeClassifier(random_state=42), ['parch', 'sex_male', 'pclass_3']),
 (DecisionTreeClassifier(random_state=42),
  ['pclass_1', 'embarked_S', 'pclass_1']),
 (DecisionTreeClassifier(random_state=42), ['sex_female', 'fam', 'parch'])]

In [26]:
def measure_accuracy(models, X_train, y_train):
    predictions = []
    for tree, selected_columns in models:
        X_train_subset = X_train[selected_columns]
        pred = tree.predict(X_train_subset)
        predictions.append(pred)
    predictions = np.array(predictions).T
    final_predictions, i = mode(predictions, axis=1)
    final_predictions = final_predictions.flatten()
    accuracy = accuracy_score(y_train, final_predictions)
    #print(predictions)
    #print(final_predictions)
    return accuracy